<!DOCTYPE HTML>
<html>
  <!-- Bootstrap stuff (Bootstrap made designing the interface much easier)-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!--Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Automated Test Environment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/control">CoilBot Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tests">Testing Center</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Start of the page -->
  <body>
    <h1>Automated Test Environment</h1>
    <main>
      <h5>Move/home Coilbot to (0, 0, 0) before running any tests</h5>
      <!-- cancel and pause/resume buttons --> 
      <form method="POST">
        <div class = "btn-group" role = "group" aria-label="cancelpause">
          <button type = "submit" class = "btn btn-danger btn-lg" name="cancel">CANCEL</button>
          <button type = "submit" class = "btn btn-danger btn-lg" name="pause">Pause/Resume</button>
        </div>
      </form>
      <p></p>
      <form method="POST">
        <button type = "submit" class = "btn btn-primary" name="home0"> Move Coilbot to (0, 0, 0) </button>
      </form>
      <p></p>
    <!--Displays all the current settings/position -->
      <div id = "currentposition">
        <p>Current position: {{currpos}}&nbsp;&nbsp;&nbsp;&nbsp;</p> <!-- {{ [insert var name]}} refers to the a variable name that the ate.py file returns in the render_template() function -->
      </div>
      <p><strong>Current settings:</strong></p>
      <div id = "current settings">
        <p>Cycle time: {{currcycletime}} &nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>Stability delay: {{currstabdelay}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>Step distance: {{currstepdist}}</p>
      </div>
      <div id = "lateral">
        <p>Minimum lateral distance: {{currminlatdist}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>Maximum lateral distance: {{currmaxlatdist}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
      <div id = "longitudinal">
        <p>Minimum longitudinal distance: {{currminlongdist}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>Maximum longitudinal distance: {{currmaxlongdist}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
		  <p></p>

      <!--Log function (displays messages) -->
      <div id="log">
        <p>
          {% for msg in messages %}
          {{msg}}<br>
          {% endfor %}
        </p>
      </div>
      <!-- allows the user to clear the log of the page -->
      <form method = "POST">
        <div class="col-lg-offset-12">
          <button type="submit" class="btn btn-danger center-button" name = "clearlog">Clear log</button>
        </div>
      </form>
    </main>
  </body>
</html>

<!-- defines the looks/appearances of all the buttons and the interface itself-->
<style>
  body {
    background-color: #469fd6;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 70%;
    border: 2px solid black;
  }
  a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
  main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #7f7f7f;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  main > * {
    display: flex;
    justify-content: center;
  }
  #stop-button {
    margin: 10px;
    color: white;
    background-color: red;
    width: 150px;
    height: 60px;
  }
  #start-button {
    margin: 10px;
    color: white;
    background-color: green;
  }
  #log {
    overflow-y: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 95%;
    height: 200px;
  }
</style>
